<div class="tabs js-tabs">
    <ul class="tabs__header intro-list">
        <li data-tab="tab-one" class="tabs__btn btn primary active"> Все</li>
        <li data-tab="tab-two" class="tabs__btn btn primary">Напитки</li>
        <li data-tab="tab-three" class="tabs__btn btn primary">Имя продукта</li>
        <li data-tab="tab-forth" class="tabs__btn btn primary">Название товара 2</li>
        <li data-tab="tab-fifth" class="tabs__btn btn primary"> Картофельные блюда</li>
        <li data-tab="tab-six" class="tabs__btn  btn primary"> Название товара 3</li>
        <li data-tab="tab-seven" class="tabs__btn btn primary">Название товара 4</li>
        <li data-tab="tab-eight" class="tabs__btn btn primary"> Супы и бульоны</li>
        <li data-tab="tab-nine" class="tabs__btn btn primary">Блюда из рыбы</li>
        <li data-tab="tab-ten" class="tabs__btn btn primary">Картофельные блюда</li>
        <li data-tab="tab-eleven" class="tabs__btn btn primary">Название товара 5</li>
    </ul>

    <div class="tabs__content active" data-content="tab-one">
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Название может <br>быть в две строки</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  ">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary ">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-two">
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Название может <br>быть в две строки</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  ">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary ">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-three">
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-forth">
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Название может <br>быть в две строки</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  ">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary ">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-fifth">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-six">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-content="tab-seven">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs__content" data-content="tab-eight">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs__content" data-content="tab-nine">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs__content" data-content="tab-ten">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs__content" data-content="tab-eleven">
        <div class="intro ">
            <div class="intro__wrap">

                <h2 class="intro__title">Pinot noir Ver</h2>
                <div class="intro__col">
                    <span class="intro__price">7.80$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Ricard 4CL</h2>
                <div class="intro__col">
                    <span class="intro__price">5.20$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro ">
            <div class="intro__wrap">
                <h2 class="intro__title">Veggie chili</h2>
                <div class="intro__col">
                    <span class="intro__price">15.50$</span>
                    <div class="intro__btn">
                        <button type="button" class="btn secondary  displayNone">
                            <span class="intro__icon">
                                @@include('../svg-icon/minus.html')
                            </span>
                        </button>
                        <button type="button" class="btn secondary ">
                            <span class="intro__icon">
                                @@include('../svg-icon/plus.html')
                            </span>
                            <span class="intro__text">ADD TO CARD</span>
                        </button>
                        <button type="button" class="btn tertiary displayNone">x2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>